@charset "UTF-8";

.navbar-dark .navbar-toggler {
  background-color: #2f725e;
  border-color: grey;
}

.navbar-dark .navbar-nav .nav-link {
  color: #359b7c;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #276955;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #2d6957;
  text-decoration: underline;
}

.jumbotron {
  padding: 150px 0;
  background-image: url(../assets/Restaurant_Näsinneula.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jumbotron h1 {
  font-size: 70px;
  margin-bottom: 0;
}

.jumbotron p {
  font-family: serif;
  font-size: 30px;
  font-style: italic;
  margin: 0 0 30px;
}

.section__principal {
  background-image: url(../assets/Restaurant_Näsinneula.jpg);
  height: 50rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0.5rem;
}

.section__titulo {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.section_recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 1rem;
}

@media screen and (max-width: 425px) {
  .section_recommend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.section_cat {
  margin-bottom: 2rem;
}

.section_cat--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media screen and (max-width: 425px) {
  .section_cat--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70rem;
  }
}

@media screen and (min-width: 768px) {
  .section_cat {
    margin-top: 1rem;
  }
}

.section_us {
  padding: 5px;
  color: #2f725e;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
  font-weight: 700;
}

.section_us-img,
.section_us-img1,
.section_us-img2,
.section_us-img3,
.section_us-img4,
.section_us-img5 {
  width: 100%;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  height: 696px;
  -o-object-fit: cover;
  object-fit: cover;
}

.section_us-img1 {
  height: 309px;
}

.section_us-img2 {
  height: 309px;
}

.section_us-img5 {
  height: 309px;
}

.cuadro {
  background-color: #99d6c9;
  border-radius: 8%;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  margin-bottom: 3rem;
}

@media screen and (max-width: 425px) {
  .cuadro {
    margin: 3px;
  }
}

.sectiontwo__titulo {
  color: #276955;
  text-decoration: underline;
  padding: 1rem;
  margin-left: 1rem;
}

.sectiontwo__parrafo {
  color: black;
  margin-left: 1rem;
}

.sectiontwo__foto {
  width: 50rem;
  height: 25rem;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .sectiontwo__foto {
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 425px) {
  .sectiontwo__foto {
    width: 90%;
    margin: 20px;
  }
}

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  text-align: left;
  border-top: solid 5px #276955;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .footer .footer_izq,
.footer .footer .footer_mid,
.footer .footer .footer_der {
  display: inline-block;
  vertical-align: top;
}

.footer_izq {
  width: 40%;
}

@media screen and (max-width: 425px) {
  .footer_izq {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

.footer_links {
  color: #276955;
  margin: 20px 0 12px;
  padding: 0;
}

.footer_links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin-right: 1px;
}

.footer__logo {
  width: 8rem;
  margin-left: 4.4rem;
}

@media screen and (max-width: 425px) {
  .footer__logo {
    margin-left: 1rem;
  }
}

.footer__list {
  list-style: none;
}

.footer_mid {
  width: 35%;
}

.footer_mid i {
  width: 35%;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer_mid i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

@media screen and (min-width: 768px) {
  .footer_mid i {
    margin: 10px 5px;
  }
}

@media screen and (max-width: 425px) {
  .footer_mid i {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer_mid p {
  display: inline-block;
  color: #276955;
  vertical-align: middle;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer_mid p {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .footer_mid p {
    font-size: 13px;
  }
}

@media screen and (max-width: 425px) {
  .footer_mid {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

.footer_der {
  width: 20%;
}

@media screen and (max-width: 425px) {
  .footer_der {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

.footer_us {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer_us span {
  display: block;
  color: #276955;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer_icons {
  margin-top: 25px;
}

.footer_icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #2f725e;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .footer_icons a {
    width: 28px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

main {
  height: 100rem;
}

.main-index {
  height: 120rem;
}

@media screen and (max-width: 425px) {
  .main-index {
    height: 200rem;
  }
}

.main-us {
  height: 120rem;
}

@media screen and (max-width: 425px) {
  .main-us {
    height: 250rem;
  }
}

@media screen and (min-width: 768px) {
  .main-us {
    height: 160rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-us {
    height: 100rem;
  }
}

.main-resto {
  height: 100rem;
}

@media screen and (max-width: 425px) {
  .main-resto {
    height: 60rem;
  }
}

@media screen and (min-width: 768px) {
  .main-resto {
    height: 40rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-resto {
    height: 40rem;
  }
}

@media screen and (min-width: 768px) {
  .main-cat {
    height: 30rem;
  }
}

@media screen and (max-width: 425px) {
  .main-cat {
    height: 80rem;
  }
}

@media screen and (min-width: 768px) {
  .main-form {
    height: 40rem;
  }
}

@media screen and (max-width: 425px) {
  .main-form {
    height: 50rem;
  }
}

.categorias__titulo {
  color: #276955;
  text-decoration: underline;
  padding: 2 rem;
  text-align: center;
  font-size: 2.5rem;
}

.categorias__img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categorias__img:hover {
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
}

.categorias__subtitle {
  color: #276955;
  text-align: center;
  font-size: 1.3rem;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 1rem;
}

.form__items {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 16px;
}

.form__btn {
  background-color: #276955;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.form__btn:hover {
  background-color: #89d2c2;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 100%;
  margin-left: 3px;
  margin-top: 1rem;
}

@media screen and (max-width: 425px) {
  .btn-send {
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 320px) {
  .btn-send {
    letter-spacing: 0.1rem;
    font-size: 10px;
  }
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #276955;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 #89d2c2;
  box-shadow: 0 4px 8px 0 #89d2c2;
  margin: 0 25rem 1rem 25rem;
}

.resto__foto {
  width: 15rem;
  height: 10rem;
}

.resto__descripcion {
  text-align: left;
  color: #2f725e;
  margin-bottom: 0px;
}

.resto__descripcion--titulo {
  color: #276955;
  text-decoration: underline;
}

.resto__descripcion h4 {
  text-decoration: underline;
  font-size: 15px;
}

@media screen and (max-width: 425px) {
  .resto__descripcion {
    font-size: 70%;
  }
}

.resto-btn {
  background-color: #276955;
}

.resto-btn:hover {
  background-color: #2f725e;
}

@media screen and (max-width: 425px) {
  .resto {
    margin: 10px;
  }
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top {
  -o-object-fit: cover;
  object-fit: cover;
  height: 20vw;
  width: 100%;
}

.card-text {
  color: #83888d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body-rest {
  min-height: 100%;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  -ms-grid-rows: 12.5rem 100rem 6.25rem;
  grid-template-rows: 12.5rem 100rem 6.25rem;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

/*# sourceMappingURL=main.css.map */