@import "./variables";

.jumbotron{
    padding: 150px 0;
    background-image: url(../assets/Restaurant_Näsinneula.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & h1 {
        font-size: 70px;
        margin-bottom: 0;
      }
    & p {
        font-family: serif;
        font-size: 30px;
        font-style: italic;
        margin: 0 0 30px;
      }
}
.section{
    &__principal{
        background-image: url(../assets/Restaurant_Näsinneula.jpg);
        height: 50rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0.5rem;
    }
    &__titulo{
        text-align:center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
    }
    &_recommend{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem;
    }
    &_cat{
        margin-bottom: 2rem;
        &--flex{
            display: flex;
            justify-content: space-around;
        }
    }
    &_us{
        padding: 5px;
        color: $color-secundario;
        text-align: center;
        margin: 0 1rem 1rem 1rem;
        font-weight: 700;
        &-img{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 696px;
            object-fit: cover;
        }
        &-img1{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 309px;
            object-fit: cover;
        }
        &-img2{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 309px;
            object-fit: cover;
        }
        &-img3{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 696px;
            object-fit: cover;
        }
        &-img4{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 696px;
            object-fit: cover;
        }
        &-img5{
            width: 100%;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            height: 309px;
            object-fit: cover;
        }
    }
}
.cuadro{
    background-color: #99d6c9;
    border-radius: 8%;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    margin-bottom: 3rem;
}
.sectiontwo{
    &__titulo{
        color: $color-ppal;
        text-decoration: underline;
        padding: 1rem;
        margin-left: 1rem;
    }
    &__parrafo{
        color: black;
        margin-left: 1rem;
    }
    &__foto{
        width: 50rem;
        height: 25rem;
        margin: 30px;
    }
}