@import "./responsive-mixins";


main {
    height: 100rem;
}

.main {
    &-index {
        height: 120rem;

        @include movil {
            height: 200rem;
        }
    }

    &-us {
        height: 120rem;

        @include movil {
            height: 250rem;
        }

        @include tablet {
            height: 160rem;
        }

        @include laptop {
            height: 100rem;
        }
    }

    &-resto {
        height: 100rem;

        @include movil {
            height: 107rem;
        }

        @include tablet {
            height: 50rem;
        }

        @include laptop {
            height: 70rem;
        }
    }

    &-cat {
        @include tablet {
            height: 70rem;
        }

        @include movil {
            height: 220rem;
        }

        @include laptop {
            height: 70rem;
        }
    }

    &-form {
        @include tablet {
            height: 40rem;
        }

        @include movil {
            height: 50rem;
        }
    }
}